:root{
    --thick-line: #6e6e6e;
    --thin-line: #cecbcb;
    --selected: #d2dacc;
    --secundary-selected: #d2dacc;
    --highlithed-selected: rgb(33, 152, 250);
    --highlithed-active: #022f63;
    --error: rgb(150, 1, 1);
}
body{
    color:#363636;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    list-style: none;
}
.active{
    font-weight: bold;
    color:var(--highlithed-selected);
}

.error,
.error .active{
    color:var(--error) !important;
}
.display-none{
    display: none !important;
}
.visible{
    visibility: visible !important;
}

#hint[data-active='true']{
    background-color: var(--highlithed-selected);
    color: var(--selected);

}

.input {
    background: #a2d8ee !important;
    cursor: pointer;
    animation: pulse 1s infinite;
}
#informations{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}
@media (max-width: 850px) {
    #informations{
        width: 95vw;
    }
}
@media (min-width: 1150px) {
    #informations{
        width: 40vw;
    }
}
.matrix {
    display: flex;
    justify-content: center;
}

.matrix table{
    width: 70vw;
    height: 70vw;
    border:2px solid var(--thick-line);
    border-collapse: collapse;
}
@media (max-width: 850px) {
    .matrix table{
        width: 95vw;
        height: 95vw;
    }
}
@media (min-width: 1150px) {
    .matrix table{
        width: 40vw;
        height: 40vw;
    }
}
.matrix table td.c3,
.matrix table td.c6
{
    border-right: 2px solid var(--thick-line);
}
.matrix table tr.l3,
.matrix table tr.l6
{
    border-bottom: 2px solid var(--thick-line);
}

.matrix table tr td {
    width: 4rem;
    height: 4rem;
    text-align: center;
    border:1px solid var(--thin-line);
    position: relative;
}
.matrix td:hover{
    background-color: beige;
}
.matrix td.active{
    background-color: var(--selected);
    color:#363636;
}
.matrix table tr td .hints {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0px;
}
.matrix table tr td .hints .hint {
    flex: 0 1 auto;
    width: 33.333333%;
    visibility: hidden;
    font-size:0.8rem
}
.matrix table tr td div.value{
    font-size: 2rem;
}
.container {
    display: flex;
    justify-content: center;
}
#numbers{
    width: 70vw;
    display: flex;
    justify-content: space-around;
    font-size:xx-large;
    cursor: pointer;
}
@media (max-width: 850px) {
    #numbers{
        width: 95vw;
    }
}
@media (min-width: 1150px) {
    #numbers{
        width: 40vw;
    }
}
#numbers div{
    width: 11.11%;
    text-align: center;
    border-radius: 0.4rem;
}
#numbers div:hover{
    background-color:var(--highlithed-selected);
    color: var(--selected);
}
#numbers div:active{
    background-color:var(--highlithed-active);
    color: var(--selected);
}

#menu{
    width: 70vw;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
#menu li:hover{
    background-color: var(--highlithed-selected);
    color: var(--selected);
}
#menu li:active{
    background-color: var(--highlithed-active);
}
ul#menu li {
    padding: 0 1rem;
    border-radius: 0.4rem;
    padding: 0 1rem;
}
@media (max-width: 850px) {
    #menu{
        width: 95vw;
    }
}
@media (min-width: 1150px) {
    #menu{
        width: 40vw;
    }
}


@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(2, 86, 243, 0.4);
    }
    70% {
        -webkit-box-shadow: inset 0 0 0 10px rgba(2, 86, 243, 0);
    }
    100% {
        -webkit-box-shadow: inset  0 0 0 0 rgba(2, 86, 243,0);
    }
}
@keyframes pulse {
    0% {
      -moz-box-shadow: inset 0 0 0 0 rgba(2, 86, 243, 0.4);
      box-shadow: inset 0 0 0 0 rgba(2, 86, 243, 0.4);
    }
    70% {
        -moz-box-shadow: inset 0 0 0 10px rgba(2, 86, 243, 0);
        box-shadow: inset 0 0 0 10px rgba(2, 86, 243, 0);
    }
    100% {
        -moz-box-shadow: inset 0 0 0 0 rgba(2, 86, 243, 0);
        box-shadow: inset 0 0 0 0 rgba(2, 86, 243, 0);
    }
}